

header{
    padding-block: 32px;
    font: var(--text-md);
    border: 1px solid var(--skeleton-color);
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile{
    display: flex;
    gap: 32px;
    overflow: hidden;
}

#profile > div{
    max-width: 384px;
}

#profile h1{
    font: var(--text-lg);
    color: var(--text-color-primary);
    margin-bottom: 8px;
}

#info-add{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 280px;
}

#info-add li{
    display: flex;
    align-items: center;
    gap: 8px;
}

#info-add li img{
    width: 20px;
    height: 20px;
    display: block;
}

#profile img{
    transition: transform .35s ease;
    width: 176px;
    height: 176px;
    object-fit: cover;
    border-radius: 50%;
}

#profile img:hover{
    transform: scale(1.05);
    box-shadow: 0 0 30px #7C3AED40;
}